//- home.pug
//include ../partials/header.pug
//include ../partials/menu.pug

head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(type='text/javascript' src='search.js')
  // title can be changed by the search input (if needed)
  title PEER Taught Search
// navbar start here
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  // set the hyperlink of navbar-barnd here
  a.navbar-barnd(href='#')
    img(src='https://imgur.com/y44K594.png' alt='' width='70')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        // set the hyperlink of home here
        a.nav-link(href='../HomePage/home') Home
      li.nav-item.dropdown
        // set the hyperlink of dropdow-bar here
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Account
        .dropdown-menu(aria-labelledby='navbarDropdown')
          // set the hyperlink of profile here
          a.dropdown-item(href='../Profile/profile') Profile
          a.dropdown-item(href='../LoginPage/signup') Login / Sign up
          .dropdown-divider
          // set the hyperlink of ask questions here
          a.dropdown-item(href='../QuestionPage/question') Ask My Questions
          // set the hyperlink of existing questions here
          a.dropdown-item(href='../SearchPage/search') Find Questions
// end of navbar code
.container
  br
  h3
    | User Information
  h5
    | Name:
    - if (data)
     for n in data
      small.text-muted #{n.firstName} #{n.lastName}
  h5
    | Email:
    - if (data)
     for n in data
      small.text-muted #{n.email}
#user_questions.container
  // report number of result here
  br
  p Your Questions: 
  br
  table.table.table-hover
    thead
      tr
        th(rowspan='2') Questions
    tbody#questions
      // example output (should use nodejs to output the result)
      tr
        th
          p This is an example question 1
          p
            | example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary
          a(href='../ViewQuestion/viewquestion') View
      tr
        th
          p This is an example question 2
          p
            | example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary
          a(href='../ViewQuestion/viewquestion') View
br
#user_answers.container
  // report number of result here
  br
  p Your Answers: 
  br
  table.table.table-hover
    thead
      tr
        th(rowspan='2') Answers
    tbody#questions
      // example output (should use nodejs to output the result)
      tr
        th
          p This is an example question 1
          p
            | example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary
          a(href='../ViewQuestion/viewquestion') View
      tr
        th
          p This is an example question 2
          p
            | example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary example summary
          a(href='../ViewQuestion/viewquestion') View

//include ../partials/footer.pug
