//- home.pug
//include ../partials/header.pug
//include ../partials/menu.pug

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title Signup Page
  link(href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round' rel='stylesheet')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  link(rel='stylesheet' type='text/css' href='signup.css')
  h1
    | Peer Taught
    small.text-muted Peer Based Tutoring for Students.
  img.img-fluid(src='https://imgur.com/4zU1Yvw.jpg' style='width:100%' alt='image' value='Greatness')
br
br

.text-center
 h5 You have been registered with Peer Taught, start learning!

//include ../partials/footer.pug
